.message-buble {
  margin: 0 auto 16px 0; 
  padding: 16px;
  background-color: white;
  border: 2px solid #d4dade;
  border-radius: 4px;
  max-width: 300px;
  &.sender {
    margin: 0 0 16px auto;
    background-color: #fcf6c5;
    .timestamp {
      text-align: right;
    }
  }
  .author {
    color: #b3bcc3;
  }
  .timestamp {
    color: #b3bcc3;
  }
}
